<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="https://www.summitanesthesiaservice.com" />
    <meta name="robots" content="index, follow" />
    <link rel="shortlink" href="https://www.summitanesthesiaservice.com" />
    <link rel="image_src" href="https://www.summitanesthesiaservice.com/images/social-preview.jpg" />
    <meta name="description" content="description goes here" />
    <meta name="keywords" content="keywords, go, here" />
    <meta property="og:site_name" content="Summit Anesthesia Service Corporation" />
    <meta property="og:type" content="webpage" />
    <meta property="og:url" content="https://www.summitanesthesiaservice.com" />
    <meta property="og:title" content="title | Summit Anesthesia Service Corporation" />
    <meta property="og:description" content="Summit Anesthesia Service Corporation" />
    <meta property="og:image" content="https://www.summitanesthesiaservice.com/images/social-preview.jpg" />
    <meta property="og:image:url" content="https://www.summitanesthesiaservice.com/images/logo.png" />
    <meta property="og:image:secure_url" content="https://www.summitanesthesiaservice.com/images/logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="title" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{% if title %}{{ title }} | {% endif %}Summit Anesthesia Service Corporation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" media="all" href="/css/styles.css" />
    <link rel="stylesheet" media="all" href="/css/fancybox.css" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <a id="top"></a>
    <a href="#main-content" class="visually-hidden focusable skip-link">Skip to main content</a>
    <header class="header" role="banner">
      <div class="container">
        <a href="/" rel="home" class="site-logo">
          <img src="/images/logo.png" alt="" />
        </a>
        <button type="button" class="nav-toggle" data-toggle="collapse" aria-expanded="false"><span>Toggle menu</span></button>
        <nav role="navigation" aria-label="Primary Menu" class="primary-menu">
          <h4 class="visually-hidden" id="block-primary-menu">Primary Menu</h4>
          {% assign navPages = collections.all | eleventyNavigation %}
          <ul class="menu">
          {%- for entry in navPages %}
            <li class="menu-item">
              <a href="{{ entry.url }}" class="menu-item__link{% if entry.url == page.url %} is-active{% endif %}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main id="main" class="main section-row" role="main">
      <a id="main-content" tabindex="-1"></a>
      {{ content }}
    </main>

    <footer class="footer" role="contentinfo">
      <div class="container">
        <ul class="footer-menu">
          <li class="footer-menu__item"><a href="tel:5094077097">(866) 805-7016</a></li>
          <li class="footer-menu__item"><a href="mailto:sumservice@hotmail.com" class="contact-menu__link">sumservice@hotmail.com</a></li>
        </ul>
        <p class="footer__copyright">Copyright &copy; {% year %} Summit Anesthesia Service Corporation LLC.</p>
      </div>
    </footer>

    <script src="/js/fancybox.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
