// =============================================================================
// CALLOUT
// =============================================================================
@use "sass:math";

.c--callout {
  background: var(--color-beige-1);
  padding: 1.25rem;

  // Remove bottom margin from last item.
  *:last-child {
    margin-bottom: 0;
  }
}
