// =============================================================================
// INTRO
// =============================================================================
@use "sass:math";

.c--intro {
  background: $beige-1;
  position: relative;

  // Eyebrow.
  .eyebrow {
    &::before {
      border-left-color: $beige-1;
    }

    &::after {
      border-right-color: $beige-1;
    }
  }

  // Remove bottom margin from last item.
  *:last-child {
    margin-bottom: 0;
  }

  // Accent top right.
  &--accent-top-right {
    // Triangle.
    &::after {
      @include breakpoint(large) {
        border-color: transparent $orange-2 transparent;
        border-style: solid;
        border-width: 0 90px 90px 0;
        top: - rem(45px);
        content: "";
        height: 0;
        right: 0;
        position: absolute;
        width: 0;
        z-index: 2;
      }
    }
  }

  // Accent top left.
  &--accent-top-left {
    // Triangle.
    &::after {
      @include breakpoint(large) {
        border-color: $orange-2 transparent transparent;
        border-style: solid;
        border-width: 90px 90px 0 0;
        top: - rem(45px);
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        width: 0;
        z-index: 2;
      }
    }
  }
}

// Content.
.c--intro__content {
  max-width: rem(820px);

  // Full width.
  .c--intro--full-width & {
    max-width: none;
  }
}
