// =============================================================================
// FEATURE
// =============================================================================
@use "sass:math";

.c--feature {
  margin-block-start: -1.875rem;
  padding-block-start: 0;
  position: relative;
  z-index: 1;

  @include breakpoint(medium) {
    margin-block-start: -2.5rem;
  }

  @include breakpoint(large) {
    margin-block-start: -5rem;
  }
}

// Removed bottom space if followed by a "section-row".
.c--feature:has(+ .section-row) {
  padding-bottom: 0;
}

// Content.
.c--feature__content {
  @include grid;

  @include breakpoint (medium) {
    @include grid--three-column;
  }
}

// Item.
.c--feature__item {
  background: $white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba($black, 0.08);
  padding: 1.5rem;
  text-align: center;

  @include breakpoint (large) {
    padding-block: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: math.div(24, 16);
  }
}

.c--feature__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: math.div(22, 18);
  margin-bottom: .5rem;

  @include breakpoint (large) {
    font-size: 1.375rem;
    line-height: math.div(28, 22);
  }
}

// Icon.
.c--feature__icon {
  display: block;
  height: 5.875rem;
  margin: 1.25rem auto;
  width: 5.875rem;
}
