// =============================================================================
// BREAKPOINTS
// =============================================================================

$breakpoints: (
  medium:   680px,
  large:    1024px,
  wide:     1320px
);
