// =============================================================================
// VARIABLES
// =============================================================================

// Base font settings.
//========================================//
$base-font-size: 16px;

// Colors.
//========================================//

// General.
$black: #000;
$white: #fff;

// Color scheme.
$blue-1: #0d4969;
$blue-2: #1a659e;
$orange-1: #ff6b35;
$orange-2: #f7c59f;
$beige-1: #f6f5f1;

// Page.
//========================================//

// Layout.
$container-padding: 50px;
$container-padding--mobile: 20px;
$container-padding--tablet: 35px;
$container-width: 1320px;
$gutter: 16px;
$header-height--mobile: 120px;

// Border Radius.
//========================================//
$global-radius: 5px;

// Z-index.
//========================================//
$z-index--mobile-menu:          98;
