// Pure CSS arrows
@mixin arrow($direction: right, $size: 3px, $color: $black) {
  border: 0; // reset any existing borders
  content: "";
  display: block;
  height: 0;
  width: 0;

  @if $direction == "up" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }

  @if $direction == "down" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }

  @if $direction == "left" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }

  @if $direction == "right" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}

// HTML arrow-2 mixin.
@mixin arrow-2($direction: right, $size: 20px, $color: $gray-7) {
  color: $color ;
  content: "\2303";
  font-size: $size;
  font-weight: bold;
  transform: rotate(90deg);

  @if $direction == "up" {
    transform: none;
  }

  @if $direction == "down" {
    transform: rotate(180deg);
  }

  @if $direction == "left" {
    transform: rotate(270deg);
  }
}
