// =============================================================================
// CONTAINER
// =============================================================================

@mixin container {
  @include clearfix;
  margin: 0 auto;
  max-width: var(--container-width);
  padding-inline: var(--container-padding--mobile);

  @include breakpoint(medium) {
    padding-inline: var(--container-padding--tablet);
  }

  @include breakpoint(large) {
    padding-inline: var(--container-padding);
  }
}
