---
layout: layout.html
pageTitle: About
eleventyNavigation:
  key: About
  order: 2
---
{# Components. #}
{% import "components/prose/prose.njk" as prose %}

{# Markup. #}
<div class="container">
  {% include 'page-title.njk' %}

  {{ prose.component(
    content = '
      <p class="intro">Dedicated to exceptional customer service since 2004, Summit Anesthesia Service Corporation specializes in the servicing, repair, and maintenance of veterinary anesthesia machines and their accessories, including vaporizers, ventilators, and oxygen concentrators. Proudly serving Oregon, Washington, and North Idaho, our mission is to ensure your equipment operates seamlessly for the best patient care.</p>
    '
  )}}

  {{ prose.component(
    content = '
      <p>Our team consists of licensed veterinary technicians with extensive knowledge of anesthesia machines and their accessories commonly used in veterinary medicine. Their hands-on experience and specialized training guarantee that your equipment is maintained and repaired to the highest standards, supporting optimal care for your patients.</p>
    '
  )}}

  {{ prose.component(
    content = '
      <p>Prepared for any situation, our service technicians carry a comprehensive range of repair parts in their service vehicles. This readiness allows us to perform necessary repairs or maintenance immediately, even in emergencies, ensuring your equipment experiences minimal downtime.</p>
    '
  )}}

  {{ prose.component(
    content = '
      <p>We specialize in servicing all common veterinary anesthesia machines found in clinics, as well as older human anesthesia machines that occasionally find their way into veterinary practices.</p>
    '
  )}}
</div>
<div class="about-bio">
  <div class="container">
    <h2>Our Team</h2>
    <h3 class="about-bio__title">Chris McCormick</h3>
    <h4 class="about-bio__position">CVT, Owner</h4>
    {{ prose.component(
      content = '
        <p>Chris started, and has owned, Summit Anesthesia Service Corporation since 2004. Chris started his career in Veterinary Medicine in 1982 graduating from Portland Community College with a degree in Veterinary Science Technology. He put his Technician skills to use by working in Medical Research for 18 years and in Animal Emergency Medicine for 7 years. Chris continues to keep his Veterinary Technician License current and when not working, enjoys spending time with his family and his two German Shorthair Pointers, Dakota and Cooper.</p>
      '
    )}}
    <h3 class="about-bio__title">Sue Elder</h3>
    <h4 class="about-bio__position">CVT</h4>
    {{ prose.component(
      content = '
        <p>Sue has held many positions in and around the veterinary field. She started as a kennel worker and a dog trainer then received her CVT in 1993 from Parkland Community College in Champaign, Illinois.  Sue was involved in helping to establish the Academy of Veterinary Dental Technicians (AVDT) in 2006, and as a Charter Member, sat and passed the (VTS) Dentistry Exam in 2008. Sue has dogs and cats and loves the outdoors. Sue has been with Summit Anesthesia Service Corporation since 2009.</p>
      '
    )}}
    <h3 class="about-bio__title">Kendra Butz</h3>
    <h4 class="about-bio__position">CVT</h4>
    {{ prose.component(
      content = '
        <p>Kendra began her career in veterinary medicine as a receptionist in 2004 and then graduated from San Juan College in 2014 with a degree in Veterinary Science Technology. Kendra has performed the duties of every position in the veterinary clinic over the past 20 years. One of her favorite positions was being the surgery technician and the responsibilities associated with it. When not working, Kendra spends her time with her two daughters, her dog, cat, a herd of goats, and several flocks of chickens. Kendra joined Summit Anesthesia Service Corporation in 2023.</p>
      '
    )}}
  </div>
</div>
