{%  macro component(
  content,
  intro = false
) %}
  {% if content %}
    <div class="prose">
      <p{% if intro == true %} class="intro"{% endif %}>{{ content }}</p>
    </div>
  {% endif %}
{% endmacro %}
