/*!*****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss ***!
  \*****************************************************************************************************************************************************************************************************************/
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-1: #dcf4fb;
  --color-blue-2: #2c76e2;
  --color-blue-3: #183257;
  --color-blue-4: #142949;
  --color-blue-5: #1160d4;
  --color-blue-6: #9fa6bd;
  --color-green-1: #0bc1bb;
  --color-green-2: #e6f9f8;
  --color-orange-1: #ff6b35;
  --color-orange-2: #f7c59f;
  --color-beige-1: #f6f5f1;
  --color-dark-1: #222;
  --container-padding: 3.125rem;
  --container-padding--mobile: 1.25rem;
  --container-padding--tablet: 2.1875rem;
  --container-width: 82.5rem;
  --gutter: 1rem;
  --header-height--mobile: 5.9375rem;
  --global-radius: 8px;
  --z-index--mobile-menu: 98;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/* Document
 * ========================================================================== */
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */
:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  -o-tab-size: 4;
     tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * 1. Fill the viewport block in all browsers (opinionated).
 * 2. Remove the margin in all browsers (opinionated).
 */
:where(body) {
  block-size: -moz-available; /* 1 */
  block-size: -webkit-fill-available; /* 1 */
  block-size: stretch; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 */
:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
:where(nav li)::before {
  float: left;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */
:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */
:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where([type=search i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in Safari.
 */
:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
:where([aria-busy=true i]) {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
:where([aria-controls]) {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark-1);
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2142857143;
  margin-bottom: 1.5rem;
}
@media (min-width: 42.5em) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.625rem;
}
@media (min-width: 42.5em) {
  h2 {
    font-size: 2.25rem;
    line-height: 1.1666666667;
    margin-bottom: 1.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
@media (min-width: 42.5em) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.3333333333;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}
@media (min-width: 42.5em) {
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  margin-bottom: 1.5rem;
}
@media (min-width: 42.5em) {
  p {
    font-size: 1.125rem;
    line-height: 1.5555555556;
  }
}
p strong,
p b {
  font-weight: 700;
}

.button,
a.button,
a.button--1 {
  border: 2px solid transparent;
  border-radius: 3.75rem;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375;
  margin-left: 0;
  margin-right: 0;
  padding: 0.9375rem 2.1875rem;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media (min-width: 42.5em) {
  .button,
  a.button,
  a.button--1 {
    font-size: 1.125rem;
    line-height: 1.4444444444;
  }
}
.button:hover, .button:focus,
a.button:hover,
a.button:focus,
a.button--1:hover,
a.button--1:focus {
  text-decoration: none;
}

.button,
a.button,
a.button:visited,
.form-submit {
  background-color: var(--color-blue-2);
  color: var(--color-white);
}
.button:hover,
a.button:hover,
a.button:visited:hover,
.form-submit:hover {
  background-color: var(--color-blue-5);
  color: var(--color-white);
}
.button:focus,
a.button:focus,
a.button:visited:focus,
.form-submit:focus {
  box-shadow: 0 0 0 2px rgba(var(--color-blue-5), 0.2);
  color: var(--color-white);
}

.button.button--1,
a.button.button--1,
a.button:visited.button--1 {
  background-color: var(--color-blue-2);
  color: var(--color-white);
}
.button.button--1:hover,
a.button.button--1:hover,
a.button:visited.button--1:hover {
  background-color: var(--color-blue-5);
  color: var(--color-white);
}
.button.button--1:focus,
a.button.button--1:focus,
a.button:visited.button--1:focus {
  box-shadow: 0 0 0 2px rgba(var(--color-blue-5), 0.2);
  color: var(--color-white);
}

@keyframes fader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fading-slideshow {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.fading-slideshow > li {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.fading-slideshow > li:first-of-type {
  animation-name: fader;
  animation-delay: 5s;
  animation-duration: 1s;
  z-index: 20;
}
.fading-slideshow > li:nth-of-type(2) {
  z-index: 10;
}
.fading-slideshow > li:nth-of-type(n+3) {
  display: none;
}

@media (min-width: 64em) {
  .form-item__group .two-column .form-item {
    width: 48%;
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  float: none;
  justify-content: flex-end;
  margin: 0;
  position: relative;
  width: 100%;
}
.form-item + .form-item {
  margin-top: 1.25rem;
}
@media (min-width: 64em) {
  .form-item + .form-item__reset {
    margin-top: 0;
  }
}
.form-item label {
  color: var(--color-dark-1);
  display: block;
  font-size: 1rem;
  font-family: "Exo", sans-serif;
  line-height: 1.5;
  margin-bottom: 0.3125rem;
  padding: 0;
}
.form-item input,
.form-item select,
.form-item textarea {
  background: var(--color-white);
  border-radius: var(--global-radius);
  border: 2px solid #ccc;
  caret-color: var(--color-blue-1);
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  padding: 0.625rem;
  transition: border-color 0.3s ease;
  width: 100%;
}
.form-item input:last-child,
.form-item select:last-child,
.form-item textarea:last-child {
  margin-bottom: 0;
}
.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus {
  border-color: var(--color-blue-2);
}

.form-required::after {
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 7.562 1.114-3.438c2.565.906 4.43 1.688 5.59 2.35-.306-2.921-.467-4.93-.484-6.027h3.511c-.05 1.597-.234 3.6-.558 6.003 1.664-.838 3.566-1.613 5.714-2.325l1.113 3.437c-2.05.678-4.06 1.131-6.028 1.356.984.856 2.372 2.381 4.166 4.575l-2.906 2.059c-.935-1.274-2.041-3.009-3.316-5.206-1.194 2.275-2.244 4.013-3.147 5.206l-2.856-2.059c1.872-2.307 3.211-3.832 4.017-4.575-2.081-.402-4.058-.856-5.93-1.356' fill='%23ff3037'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 0.5rem 0.5rem;
  content: "";
  display: inline-block;
  height: 0.5rem;
  margin-inline: 0.3em;
  vertical-align: text-top;
  width: 0.5rem;
}

.clear {
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding-left: var(--container-padding--mobile);
  padding-right: var(--container-padding--mobile);
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 42.5em) {
  .container {
    padding-left: var(--container-padding--tablet);
    padding-right: var(--container-padding--tablet);
  }
}
@media (min-width: 64em) {
  .container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}
.container .container {
  max-width: none;
  padding-inline: 0;
}

.section-row {
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;
}
@media (min-width: 42.5em) {
  .section-row {
    padding-bottom: 2.8125rem;
    padding-top: 2.8125rem;
  }
}
@media (min-width: 64em) {
  .section-row {
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
  }
}
.section-row--first {
  margin-top: -1.875rem;
}
@media (min-width: 42.5em) {
  .section-row--first {
    margin-top: -2.8125rem;
  }
}
@media (min-width: 64em) {
  .section-row--first {
    margin-top: -3.75rem;
  }
}
.section-row--last {
  margin-bottom: -1.875rem;
}
@media (min-width: 42.5em) {
  .section-row--last {
    margin-bottom: -2.8125rem;
  }
}
@media (min-width: 64em) {
  .section-row--last {
    margin-bottom: -3.75rem;
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}

.skip-link {
  background: var(--color-white);
  border-top: 0;
  box-shadow: 0 0 20px rgb(var(--color-black), 15%);
  color: var(--color-black);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  top: 0;
  transform: translateX(-50%);
  z-index: 999;
}
.skip-link.visually-hidden.focusable {
  position: absolute !important;
}

.eyebrow {
  background: var(--color-green-1);
  display: block;
  height: 0.375rem;
  margin-block: 2.5rem;
  position: relative;
  width: 3.75rem;
}
.eyebrow::before, .eyebrow::after {
  content: "";
  position: absolute;
  width: 0.75rem;
}
.eyebrow::before {
  border: 0;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid var(--color-white);
  left: 0;
  top: 0;
}
.eyebrow::after {
  border: 0;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--color-white);
  right: 0;
  top: -0.375rem;
}

.link-arrow,
.link-arrow:visited {
  color: var(--color-blue-4);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5714285714;
  padding-right: 1.75rem;
  position: relative;
  transition: color 0.3s ease, padding-right 0.3s ease;
}
.link-arrow::before, .link-arrow::after,
.link-arrow:visited::before,
.link-arrow:visited::after {
  content: "";
  position: absolute;
}
.link-arrow::before,
.link-arrow:visited::before {
  background: var(--color-blue-4);
  border-radius: 50%;
  display: block;
  height: 1.1875rem;
  right: 0;
  top: 0.1875rem;
  transition: background 0.3s ease;
  width: 1.1875rem;
}
.link-arrow::after,
.link-arrow:visited::after {
  border-bottom: 2px solid var(--color-white);
  border-right: 2px solid var(--color-white);
  display: inline-block;
  height: 0.375rem;
  right: 0.4375rem;
  top: 0.5625rem;
  transform: rotate(-45deg);
  width: 0.375rem;
}
.link-arrow:hover, .link-arrow:focus,
.link-arrow:visited:hover,
.link-arrow:visited:focus {
  color: var(--color-blue-5);
  padding-right: 1.875rem;
}
.link-arrow:hover::before, .link-arrow:focus::before,
.link-arrow:visited:hover::before,
.link-arrow:visited:focus::before {
  background-color: var(--color-blue-5);
}

.with-accent {
  position: relative;
}
.with-accent::after {
  border-color: transparent var(--color-orange-2) transparent;
  border-style: solid;
  border-width: 0 120px 120px 0;
  top: -0.5rem;
  content: "";
  height: 0;
  right: -0.5rem;
  position: absolute;
  width: 0;
  z-index: 0;
}
.with-accent > * {
  position: relative;
  z-index: 1;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 42.4375em) {
  .medium-up {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .large-up {
    display: none;
  }
}

.with-border-radius {
  border-radius: var(--global-radius);
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

figure > img {
  display: block;
}

figure {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

iframe {
  max-width: 100%;
}

.prose a,
.prose a:visited {
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  color: var(--color-black);
  display: inline;
  font-weight: 500;
  line-height: 1.5;
  padding-inline: 0.125rem;
  text-decoration: none;
  transition: background-size 0.2s ease;
}
.prose a:hover, .prose a:focus,
.prose a:visited:hover,
.prose a:visited:focus {
  background-size: 100% 100%;
  background-position: 0 100%;
}
.prose p.intro {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.prose ul {
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  margin: 0 0 1rem;
  padding: 0 0 0 2.5rem;
}
@media (min-width: 42.5em) {
  .prose ul {
    font-size: 1.125rem;
    line-height: 1.3333333333;
    margin-bottom: 1.5rem;
  }
}
.prose ul li + li {
  margin-top: 1rem;
}
@media (min-width: 42.5em) {
  .prose ul li + li {
    margin-top: 1.5rem;
  }
}
.prose ul ul,
.prose ul ol {
  margin-bottom: 0;
  margin-top: 1rem;
}
@media (min-width: 42.5em) {
  .prose ul ul,
  .prose ul ol {
    margin-top: 1.5rem;
  }
}
.prose ul ul ul ul,
.prose ul ul ul ul ul ul {
  list-style-type: circle;
}
.prose ul ul ul ul ul {
  list-style-type: disc;
}
.prose ol ol,
.prose ol ol ol ol ol {
  list-style-type: lower-latin;
}
.prose ol ol ol,
.prose ol ol ol ol ol ol {
  list-style-type: lower-roman;
}
.prose ol ol ol ol {
  list-style-type: decimal;
}
.prose strong {
  font-weight: 700;
}
.prose blockquote {
  border-left: 8px solid var(--color-blue-2);
  font-family: "Exo", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  margin: 0 0 1.5rem;
  padding: 0 0 0 1.5rem;
}
@media (min-width: 42.5em) {
  .prose blockquote {
    font-size: 1.375rem;
    line-height: 1.4545454545;
    padding-left: 2.5rem;
  }
}
.prose blockquote cite {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.625rem;
}
.prose blockquote + blockquote {
  margin-top: 2rem;
}
@media (min-width: 42.5em) {
  .prose blockquote + blockquote {
    margin-top: 4rem;
  }
}

.ekg {
  display: block;
  height: 2px;
  border: 0;
  background: red;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: visible;
}
.ekg::after {
  content: "";
  background: green;
  display: block;
  width: 40px;
  height: 40px;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.photo-gallery a,
.photo-gallery a:visited {
  display: block;
  outline-offset: -4px;
  outline: 4px solid transparent;
  position: relative;
  transition: outline-color 0.3s ease;
}
.photo-gallery a::after,
.photo-gallery a:visited::after {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(var(--color-black), 0.5);
  border-radius: var(--global-radius);
  color: var(--color-white);
  content: "Enlarge image";
  opacity: 0;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}
.photo-gallery a:hover, .photo-gallery a:focus,
.photo-gallery a:visited:hover,
.photo-gallery a:visited:focus {
  outline-color: var(--color-orange-1);
  transition: opacity 0.3s ease;
}
.photo-gallery a:hover::after, .photo-gallery a:focus::after,
.photo-gallery a:visited:hover::after,
.photo-gallery a:visited:focus::after {
  opacity: 1;
}
.photo-gallery img {
  display: block;
  width: 100%;
}

.grid {
  grid-column-gap: calc(var(--gutter) * 2);
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .grid {
    display: block !important;
  }
}
@media (min-width: 42.5em) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
  }
}
.grid .grid__column + .grid__column {
  margin-top: 1.25rem;
}
@media (min-width: 42.5em) {
  .grid .grid__column + .grid__column {
    margin-top: 0;
  }
}

.grid--2-column .grid__column-1 {
  grid-column: 1/4;
}
.grid--2-column .grid__column-2 {
  grid-column: 4/13;
}

.grid--3-column {
  grid-template-columns: repeat(3, minmax(10px, 1fr));
}

.grid--4-column {
  grid-template-columns: repeat(4, minmax(10px, 1fr));
}

.grid--5-column {
  grid-template-columns: repeat(5, minmax(10px, 1fr));
}

.grid--6-column {
  grid-template-columns: repeat(6, minmax(10px, 1fr));
}

.grid--50-50 .grid__column-1 {
  grid-column: 1/7;
}
.grid--50-50 .grid__column-2 {
  grid-column: 7/13;
}

.grid--25-75 .grid__column-1 {
  grid-column: 1/3;
}
.grid--25-75 .grid__column-2 {
  grid-column: 3/13;
}

@media (min-width: 64em) {
  .two-column {
    display: flex;
    justify-content: space-between;
  }
}
.two-column .column + .column {
  margin-top: 2.5rem;
}
@media (min-width: 64em) {
  .two-column .column + .column {
    margin-top: 0;
  }
}
@media (min-width: 64em) {
  .two-column.two-column__50-50 .column-first {
    padding-right: 5%;
    width: 60%;
  }
}
@media (min-width: 64em) {
  .two-column.two-column__50-50 .column-last {
    width: 40%;
  }
}
.two-column.two-column__align-center {
  align-items: center;
}

.footer {
  background: var(--color-blue-4);
  color: var(--color-blue-6);
  padding-block: 1rem;
  position: sticky;
  text-align: center;
  top: 100vh;
}
@media (min-width: 42.5em) {
  .footer {
    text-align: left;
  }
}
@media (min-width: 42.5em) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}
.footer p {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  margin-block-end: 0;
}

.footer-menu {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 42.5em) {
  .footer-menu {
    display: flex;
  }
}
.footer-menu a,
.footer-menu a:visited {
  border-bottom: 1px solid rgba(var(--color-white), 0.5);
  color: var(--color-white);
  text-decoration: none;
  transition: border-bottom-color 0.3s ease;
}
.footer-menu a:hover, .footer-menu a:focus,
.footer-menu a:visited:hover,
.footer-menu a:visited:focus {
  border-bottom-color: var(--color-white);
  color: var(--color-white);
  text-decoration: none;
}

.footer-menu__item + .footer-menu__item {
  margin-top: 0.625rem;
}
@media (min-width: 42.5em) {
  .footer-menu__item + .footer-menu__item {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    margin-left: 0.625rem;
    margin-top: 0;
    padding-left: 0.625rem;
  }
}

.footer__copyright {
  margin-top: 0.625rem;
}
@media (min-width: 42.5em) {
  .footer__copyright {
    flex: 1;
    margin-top: 0;
    text-align: right;
  }
}

.header {
  box-shadow: 0 5px 15px rgba(var(--color-black), 0.15);
}

.header-top {
  background: var(--color-green-1);
  color: var(--color-white);
}
@media (min-width: 42.5em) {
  .header-top {
    display: block;
  }
}
.header-top .container {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.header-top__menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 0.3125rem;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 42.5em) {
  .header-top__menu {
    flex-direction: row;
    font-size: 0.875rem;
    justify-content: flex-end;
  }
}
.header-top__menu a,
.header-top__menu a:visited {
  border-bottom: 1px solid rgba(var(--color-white), 0.5);
  color: var(--color-white);
  text-decoration: none;
  transition: border-bottom-color 0.3s ease;
}
.header-top__menu a:hover, .header-top__menu a:focus,
.header-top__menu a:visited:hover,
.header-top__menu a:visited:focus {
  border-bottom-color: var(--color-white);
  color: var(--color-white);
  text-decoration: none;
}

@media (min-width: 42.5em) {
  .header-top__menu-item + .header-top__menu-item {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 0.625rem;
    padding-left: 0.625rem;
  }
}

.header-main {
  height: var(--header-height--mobile);
}
@media (min-width: 42.5em) {
  .header-main {
    height: auto;
  }
}
.header-main .container {
  padding-bottom: var(--container-padding--mobile);
  padding-top: var(--container-padding--mobile);
  position: relative;
}
@media (min-width: 42.5em) {
  .header-main .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--gutter);
    padding-top: var(--gutter);
  }
}

.site-logo {
  display: block;
}
.site-logo svg {
  height: auto;
  width: 9.375rem;
}
@media (min-width: 42.5em) {
  .site-logo svg {
    width: 14.0625rem;
  }
}

.nav-toggle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  color: var(--color-blue-2);
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 3.125rem;
  margin: 0;
  padding: 0;
  right: 0.625rem;
  text-indent: -9999px;
  transition: background-color 0.3s ease, top 0.3s ease;
  white-space: nowrap;
  width: 3.125rem;
  z-index: 900;
}
@media (min-width: 42.5em) {
  .nav-toggle {
    display: none !important;
  }
}
.nav-toggle:focus {
  outline: 0;
}
.nav-toggle span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--color-blue-2);
  display: block;
  height: 0.125rem;
  left: 0.75rem;
  right: 0;
  transition: background 0.3s, 0.3s;
  width: 1.75rem;
}
.nav-toggle span:before, .nav-toggle span:after {
  background-color: var(--color-blue-2);
  content: "";
  display: block;
  height: 0.125rem;
  left: 0;
  position: absolute;
  transition-duration: 0.3s, 0.3s;
  width: 100%;
}
.nav-toggle span:before {
  top: -0.5rem;
  transition-property: top, transform;
}
.nav-toggle span:after {
  bottom: -0.5rem;
  transition-property: bottom, transform;
}
.nav-toggle.is-active {
  background: rgba(var(--color-blue-2), 0.1);
  outline: 1px solid rgba(var(--color-blue-2), 0.25);
}
.nav-toggle.is-active span {
  background-color: transparent;
}
.nav-toggle.is-active span:before {
  top: 0;
  transform: rotate(45deg);
}
.nav-toggle.is-active span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

html {
  background: var(--color-white);
  color: var(--color-dark-1);
  font-family: "Poppins", sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}
@media (min-width: 42.5em) {
  html {
    scroll-padding-top: 10rem;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
}
body.show-mobile-menu {
  overflow: hidden;
}
@media (min-width: 64em) {
  body.show-mobile-menu {
    overflow: auto !important;
  }
}
body.page-success {
  background: var(--color-blue-1);
}

::-moz-selection {
  color: var(--color-black) !important;
}

::selection {
  color: var(--color-black) !important;
}

:focus[data-focus-method=mouse],
:focus[data-focus-method=touch],
.focused[data-focus-method=mouse],
.focused[data-focus-method=touch] {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: none;
  --tw-ring-color: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: none;
  --tw-ring-color: none;
}

:focus[data-focus-method=key],
.focused[data-focus-method=key] {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: none;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}

.page--404 .main .container {
  text-align: center;
}

.page--404 .main .container img {
  margin-bottom: 2.5rem;
}

@media (max-width: 42.4375em) {
  .primary-menu {
    background: rgba(25, 26, 51, 0.9);
    box-shadow: 0 4px 4px rgba(var(--color-black), 0.25);
    display: none;
    left: 0;
    padding: 1.25rem;
    position: absolute;
    top: var(--header-height--mobile);
    width: 100%;
    z-index: var(--z-index--mobile-menu);
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .primary-menu {
      -webkit-backdrop-filter: saturate(180%) blur(20px);
              backdrop-filter: saturate(180%) blur(20px);
    }
  }
}
@media (min-width: 42.5em) {
  .primary-menu {
    flex-grow: 1;
  }
}
body.is-navigation-expanded .primary-menu {
  display: block;
}
.primary-menu .menu {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 42.5em) {
  .primary-menu .menu {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
.primary-menu .menu-item {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.primary-menu .menu-item + .menu-item {
  margin-top: 0.625rem;
}
@media (min-width: 42.5em) {
  .primary-menu .menu-item + .menu-item {
    margin-left: 2.5rem;
    margin-top: 0;
  }
}
@media (max-width: 42.4375em) {
  .primary-menu .menu-item--home {
    display: none;
  }
}
.primary-menu .menu-item__link,
.primary-menu .menu-item__link:visited {
  color: var(--color-white);
  display: block;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  text-decoration: none;
}
@media (min-width: 42.5em) {
  .primary-menu .menu-item__link,
  .primary-menu .menu-item__link:visited {
    border-bottom: 2px solid transparent;
    color: var(--color-dark-1);
    transition: border-bottom-color 0.3s ease;
  }
}
.primary-menu .menu-item__link:hover, .primary-menu .menu-item__link:focus,
.primary-menu .menu-item__link:visited:hover,
.primary-menu .menu-item__link:visited:focus {
  color: var(--color-dark-1);
  text-decoration: none;
}
@media (min-width: 42.5em) {
  .primary-menu .menu-item__link:hover, .primary-menu .menu-item__link:focus,
  .primary-menu .menu-item__link:visited:hover,
  .primary-menu .menu-item__link:visited:focus {
    border-bottom-color: var(--color-green-1);
  }
}
.about-bio + .about-bio {
  margin-top: 3.125rem;
}

.about-bio__title {
  margin-bottom: 0;
}

.about-bio {
  overflow: hidden;
  padding-top: 5rem;
  position: relative;
}

.about-bio::before {
  background-color: var(--color-green-1);
  content: "";
  height: 0.0625rem;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 2.5rem;
  width: 75vw;
  z-index: 1;
}

.about-bio::after {
  background-color: var(--color-green-1);
  content: "";
  height: 27.5rem;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 6.25rem;
  width: 0.0625rem;
}

.c--callout {
  background: var(--color-beige-1);
  padding: 1.25rem;
}
.c--callout *:last-child {
  margin-bottom: 0;
}

.c--cta {
  align-items: center;
  display: flex;
}

.c--cta::after {
  background-color: var(--color-blue-2);
  content: "";
  flex-grow: 1;
  height: 0.0625rem;
  opacity: 0.25;
}

.c--cta .button {
  margin-right: 1.5rem;
}

.c--feature {
  margin-block-start: -1.875rem;
  padding-block-start: 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 42.5em) {
  .c--feature {
    margin-block-start: -2.5rem;
  }
}
@media (min-width: 64em) {
  .c--feature {
    margin-block-start: -5rem;
  }
}

.c--feature:has(+ .section-row) {
  padding-bottom: 0;
}

.c--feature__content {
  grid-column-gap: calc(var(--gutter) * 2);
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .c--feature__content {
    display: block !important;
  }
}
@media (min-width: 42.5em) {
  .c--feature__content {
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
  }
}
.c--feature__content .grid__column + .grid__column {
  margin-top: 1.25rem;
}
@media (min-width: 42.5em) {
  .c--feature__content .grid__column + .grid__column {
    margin-top: 0;
  }
}
@media (min-width: 42.5em) {
  .c--feature__content {
    grid-template-columns: repeat(3, minmax(10px, 1fr));
  }
}

.c--feature__item {
  background: var(--color-white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  text-align: center;
}
@media (min-width: 64em) {
  .c--feature__item {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    padding: 2rem;
  }
}
.c--feature__item p {
  font-size: 1rem;
  line-height: 1.5;
}
.c--feature__item p:last-child {
  margin-bottom: 0;
}

.c--feature__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  margin-bottom: 0.5rem;
}
@media (min-width: 64em) {
  .c--feature__title {
    font-size: 1.375rem;
    line-height: 1.2727272727;
  }
}

.c--feature__icon {
  display: block;
  margin-inline: auto;
  margin-block: 1rem;
  height: 2.9375rem;
  width: 2.9375rem;
}
@media (min-width: 64em) {
  .c--feature__icon {
    height: 5.875rem;
    margin: 1.25rem auto;
    width: 5.875rem;
  }
}

.c--hero {
  background: linear-gradient(90deg, rgb(229, 244, 250) 0%, rgba(229, 244, 250, 0.5) 75%, rgb(207, 224, 242) 100%);
}
.c--hero .container {
  grid-column-gap: calc(var(--gutter) * 2);
  padding-block-end: 5rem;
  padding-block-start: 2.5rem;
  position: relative;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .c--hero .container {
    display: block !important;
  }
}
@media (min-width: 42.5em) {
  .c--hero .container {
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
  }
}
.c--hero .container .grid__column + .grid__column {
  margin-top: 1.25rem;
}
@media (min-width: 42.5em) {
  .c--hero .container .grid__column + .grid__column {
    margin-top: 0;
  }
}
@media (min-width: 64em) {
  .c--hero .container {
    grid-template-columns: repeat(5, minmax(10px, 1fr));
    padding-block-end: 13.125rem;
    padding-block-start: 8.75rem;
  }
}

@media (min-width: 42.5em) {
  .c--hero__content {
    grid-column: 1/span 12;
  }
}
@media (min-width: 64em) {
  .c--hero__content {
    grid-column: 1/span 3;
  }
}
.c--hero__content p {
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

@media (min-width: 42.5em) and (max-width: 63.9375em) {
  .c--hero__image {
    display: none;
  }
}
@media (min-width: 64em) {
  .c--hero__image {
    grid-column: 4/span 2;
  }
}

.c--hero__title {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  margin-block-end: 1.5rem;
}
@media (min-width: 64em) {
  .c--hero__title {
    font-size: 3.75rem;
    line-height: 1.2;
  }
}

.c--portfolio .link-arrow {
  margin-top: 1.875rem;
}

.c--services {
  overflow: hidden;
  padding-top: 1.25rem;
  position: relative;
}
@media (min-width: 42.5em) {
  .c--services {
    padding-top: 10rem;
  }
}

.c--services::before {
  background-color: var(--color-green-1);
  content: "";
  height: 0.0625rem;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 5rem;
  width: 75vw;
  z-index: 1;
}

@media (min-width: 42.5em) {
  .c--services::after {
    background-color: var(--color-green-1);
    content: "";
    height: 27.5rem;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 6.25rem;
    width: 0.0625rem;
  }
}

@media (min-width: 64em) {
  .c--services .grid {
    align-items: center;
  }
}

.c--services .grid__column-1 {
  position: relative;
}

.c--services img {
  display: block;
  width: 100%;
}

@media (min-width: 42.5em) {
  .c--services .grid__column-1::after {
    background: url("/images/shape3.png") no-repeat 0 0;
    bottom: -3.75rem;
    content: "";
    height: 27.125rem;
    left: -3.75rem;
    position: absolute;
    width: 31.625rem;
    z-index: -1;
  }
}
