// =============================================================================
// HELPERS
// =============================================================================
@use "sass:math";

// Clear.
.clear {
  clear: both;
}

// Container.
.container {
  @include container;

  // Nested container.
  .container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}

// Section row.
.section-row {
  @include section-row-padding;
}

// Hidden.
.hidden {
  display: none;
}

// Visually hidden;
.visually-hidden {
  @include visually-hidden;
}

// Skip link.
.skip-link {
  background: $white;
  border-top: 0;
  box-shadow: 0 0 20px rgb($black, 15%);
  color: $black;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  top: 0;
  transform: translateX(-50%);
  z-index: 999;

  &.visually-hidden.focusable {
    position: absolute !important;
  }
}

// Eyebrow.
.eyebrow {
  background: $blue-1;
  display: block;
  height: rem(6px);
  margin-bottom: rem(25px);
  position: relative;
  width: rem(60px);

  // Cut outs.
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: rem(12px);
  }

  // Cut out left.
  &::before {
    @include arrow(right, 6px, $white);
    left: 0;
    top: 0;
  }

  // Cut out right.
  &::after {
    @include arrow(left, 6px, $white);
    right: 0;
    top: - rem(6px);
  }
}

// Link arrow.
.link-arrow,
.link-arrow:visited {
  @include link-arrow;
}

// With accent.
.with-accent {
  position: relative;

  // Triangle.
  &::after {
    border-color: transparent $orange-2 transparent;
    border-style: solid;
    border-width: 0 120px 120px 0;
    top: - rem(8px);
    content: "";
    height: 0;
    right: - rem(8px);
    position: absolute;
    width: 0;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}
