// =============================================================================
// PROSE
// =============================================================================
@use "sass:math";

.prose {

  // Links.
  a:not(.button),
  a:visited:not(.button) {
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    color: var(--color-black);
    display: inline;
    font-weight: 500;
    line-height: 1.5;
    padding-inline: .125rem;
    text-decoration: none;
    transition: background-size 0.2s ease;

    // Hover and focus.
    &:hover,
    &:focus {
      background-size: 100% 100%;
      background-position: 0 100%;
    }
  }

  p.intro {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  ul {
    font-family: $font-header;
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 0 0 1rem;
    padding: 0 0 0 2.5rem;

    @include breakpoint(medium) {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
    }

    li {

      // Siblings.
      + li {
        margin-top: 1rem;

        @include breakpoint(medium) {
          margin-top: 1.5rem;
        }
      }
    }
  }

  ul ul,
  ul ol {
    margin-bottom: 0;
    margin-top: 1rem;

    @include breakpoint(medium) {
      margin-top: 1.5rem;
    }
  }

  // Nested lists.
  ul ul ul ul,
  ul ul ul ul ul ul {
    list-style-type: circle;
  }

  ul ul ul ul ul {
    list-style-type: disc;
  }

  ol ol,
  ol ol ol ol ol {
    list-style-type: lower-latin;
  }

  ol ol ol,
  ol ol ol ol ol ol {
    list-style-type: lower-roman;
  }

  ol ol ol ol {
    list-style-type: decimal;
  }

  strong {
    font-weight: 700;
  }

  blockquote {
    border-left: 8px solid var(--color-blue-2);
    font-family: $font-header;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0 0 1.5rem;
    padding: 0 0 0 1.5rem;

    @include breakpoint(medium) {
      font-size: 1.375rem;
      line-height: 2rem;
      padding-left: 2.5rem;
    }

    cite {
      display: block;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: .625rem;
    }

    // Siblings.
    + blockquote {
      margin-top: 2rem;

      @include breakpoint(medium) {
        margin-top: 4rem;
      }
    }
  }
}

.ekg {
  display: block;
  height: 0.125rem;
  border: 0;
  background: #f30;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  position: relative;
  overflow: visible;

  &::after {
    @include vertical-center;
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    left: 1.25rem;
  }
}
