// =============================================================================
// PROSE
// =============================================================================
@use "sass:math";

.prose {

  // Links.
  a,
  a:visited {
    // background-image: linear-gradient(var(--color-green-1), var(--color-green-1));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    color: var(--color-black);
    display: inline;
    font-weight: 500;
    line-height: 1.5;
    padding-inline: .125rem;
    text-decoration: none;
    transition: background-size 0.2s ease;

    // Hover and focus.
    &:hover,
    &:focus {
      background-size: 100% 100%;
      background-position: 0 100%;
    }
  }

  p.intro {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  ul {
    font-family: $font-header;
    font-size: rem(16px);
    line-height: math.div(22, 16);
    margin: 0 0 rem(16px);
    padding: 0 0 0 rem(40px);

    @include breakpoint(medium) {
      font-size: rem(18px);
      line-height: math.div(24, 18);
      margin-bottom: rem(24px);
    }

    li {

      // Siblings.
      + li {
        margin-top: rem(16px);

        @include breakpoint(medium) {
          margin-top: rem(24px);
        }
      }
    }
  }

  ul ul,
  ul ol {
    margin-bottom: 0;
    margin-top: rem(16px);

    @include breakpoint(medium) {
      margin-top: rem(24px);
    }
  }

  // Nested lists.
  ul ul ul ul,
  ul ul ul ul ul ul {
    list-style-type: circle;
  }

  ul ul ul ul ul {
    list-style-type: disc;
  }

  ol ol,
  ol ol ol ol ol {
    list-style-type: lower-latin;
  }

  ol ol ol,
  ol ol ol ol ol ol {
    list-style-type: lower-roman;
  }

  ol ol ol ol {
    list-style-type: decimal;
  }

  strong {
    font-weight: 700;
  }

  blockquote {
    border-left: 8px solid var(--color-blue-2);
    font-family: $font-header;
    font-size: rem(18px);
    line-height: math.div(28, 18);
    margin: 0 0 rem(24px);
    padding: 0 0 0 rem(24px);

    @include breakpoint(medium) {
      font-size: rem(22px);
      line-height: math.div(32, 22);
      padding-left: rem(40px);
    }

    cite {
      display: block;
      font-size: rem(16px);
      line-height: math.div(24, 16);
      margin-top: rem(10px);
    }

    // Siblings.
    + blockquote {
      margin-top: rem(32px);

      @include breakpoint(medium) {
        margin-top: rem(64px);
      }
    }
  }
}


.ekg {
  display: block;
  height: 2px;
  border: 0;
  background: red;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: visible;

  &::after {
    content: "";
    background: green;
    display: block;
    width: 40px;
    height: 40px;
    left: 20px;
    @include vertical-center;
  }
}
