// =============================================================================
// TYPOGRAPHY
// =============================================================================
@use "sass:math";

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark-1);
  font-family: $font-header;
}

h1 {
  font-size: rem(28px);
  font-weight: 700;
  line-height: math.div(34, 28);
  margin-bottom: rem(24px);

  @include breakpoint(medium) {
    font-size: rem(40px);
    line-height: math.div(44, 40);
    margin-bottom: rem(32px);
  }
}

h2 {
  font-size: rem(24px);
  font-weight: 600;
  line-height: math.div(36, 24);
  margin-bottom: rem(10px);

  @include breakpoint(medium) {
    font-size: rem(36px);
    line-height: math.div(42, 36);
    margin-bottom: rem(20px);
  }
}

h3 {
  font-size: rem(20px);
  line-height: math.div(28, 20);
  margin-bottom: rem(24px);

  @include breakpoint(medium) {
    font-size: rem(24px);
    line-height: math.div(32, 24);
  }
}

h4 {
  font-size: rem(18px);
  line-height: math.div(28, 20);
  margin-bottom: rem(12px);

  @include breakpoint(medium) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

h5 {
}

h6 {
}

p {
  font-size: rem(16px);
  font-weight: 400;
  line-height: math.div(22, 16);
  margin-bottom: rem(24px);

  @include breakpoint(medium) {
    font-size: rem(18px);
    line-height: math.div(28, 18);
  }

  // Bold.
  strong,
  b {
    font-weight: 700;
  }
}
