// =============================================================================
// HEADER
// =============================================================================
@use "sass:math";

.header {
  box-shadow: 0 5px 15px rgba($black, 0.15);
}

// Header top.
.header-top {
  background: $green-1;
  color: $white;

  @include breakpoint(medium) {
    display: block;
  }

  // Container.
  .container {
    padding-bottom: rem(10px);
    padding-top: rem(10px);
  }
}

// Menu.
.header-top__menu {
  display: flex;
  flex-wrap: wrap;
  font-size: rem(12px);
  font-weight: 500;
  justify-content: center;
  line-height: math.div(14, 14);
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: rem(5px);

  flex-direction: column;
  text-align: center;

  @include breakpoint(medium) {
    flex-direction: row;
    font-size: rem(14px);
    justify-content: flex-end;
  }

  // Links.
  a,
  a:visited {
    border-bottom: 1px solid rgba($white, 0.5);
    color: $white;
    text-decoration: none;
    transition: border-bottom-color 0.3s ease;

    // Hover and focus.
    &:hover,
    &:focus {
      border-bottom-color: $white;
      color: $white;
      text-decoration: none;
    }
  }
}

.header-top__menu-item {

  // Siblings.
  + .header-top__menu-item {
    @include breakpoint(medium) {
      border-left: 1px solid rgba($white, 0.5);
      margin-left: rem(10px);
      padding-left: rem(10px);
    }
  }
}






.header-main {
  height: rem($header-height--mobile);

  @include breakpoint(medium) {
    height: auto;
  }

  // Container.
  .container {
    padding-bottom: rem($container-padding--mobile);
    padding-top: rem($container-padding--mobile);
    position: relative;

    @include breakpoint(medium) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-bottom: rem($gutter);
      padding-top: rem($gutter);
    }
  }
}

// Logo.
.site-logo {
  display: block;

  svg {
    height: auto;
    width: rem(150px);

    @include breakpoint(medium) {
      width: rem(225px);
    }
  }
}
