// =============================================================================
// HEADER
// =============================================================================

.header {
  height: rem($header-height--mobile);

  @include breakpoint(medium) {
    height: auto;
  }

  // Container.
  .container {
    padding-bottom: rem($container-padding--mobile);
    padding-top: rem($container-padding--mobile);
    position: relative;

    @include breakpoint(medium) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-bottom: rem($gutter);
      padding-top: rem($gutter);
    }
  }
}

// Logo.
.site-logo {
  display: block;
  width: rem(85px);

  @include breakpoint(medium) {
    width: rem(140px);
  }
}
