// =============================================================================
// NAV TOGGLE
// =============================================================================

.nav-toggle {
  @include vertical-center;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  color: $orange-1;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: rem(50px);
  margin: 0;
  padding: 0;
  right: rem(10px);
  text-indent: -9999px;
  transition: background-color .3s ease, top .3s ease;
  white-space: nowrap;
  width: rem(50px);
  z-index: 900;

  @include breakpoint(medium) {
    display: none !important;
  }

  // Focus.
  &:focus {
    outline: 0;
  }

  // Hamburger menu.
  span {
    @include vertical-center;
    background-color: $orange-1;
    display: block;
    height: rem(2px);
    left: rem(12px);
    right: 0;
    transition: background .3s, .3s;
    width: rem(28px);

    // Lines.
    &:before,
    &:after {
      background-color: $orange-1;
      content: "";
      display: block;
      height: rem(2px);
      left: 0;
      position: absolute;
      transition-duration: .3s, .3s;
      width: 100%;
    }

    // Top bar.
    &:before {
      top: - rem(8px);
      transition-property: top, transform;
    }

    // Bottom bar.
    &:after {
      bottom: - rem(8px);
      transition-property: bottom, transform;
    }
  }

  // Active.
  &.is-active {
    background: rgba($orange-1, .1);
    outline: 1px solid rgba($orange-1, .25);

    // "X" Close button.
    span {
      background-color: transparent;

      // Left line.
      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      // Right line.
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
