// =============================================================================
// PAGE
// =============================================================================

html {
  background: $white;
  color: $dark-1;
  font-family: $base-font-family;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 0;

  @include breakpoint(medium) {
    scroll-padding-top: rem(160px);
  }
}

body {
  height: 100%;
  overflow-x: hidden;

  // Show mobile menu.
  &.show-mobile-menu {
    overflow: hidden;

    @include breakpoint(large) {
      overflow: auto !important;
    }
  }

  // Success.
  &.page-success {
    background: $blue-1;
  }
}

// Links.
a,
a:visited {
  color: $blue-2;
  text-decoration: underline;
  transition: color .3s ease;

  // Hover and focus.
  &:hover,
  &:focus {
    color: $blue-5;
    text-decoration: underline;
  }
}

// Selection.
::selection {
  background-color: lighten($blue-1, 20%) !important;
  color: $white !important;
}

// Focus.
:focus {
  outline: 2px solid $blue-2;
  outline-offset: 2px;
}
