// =============================================================================
// PAGE
// =============================================================================

html {
  background: var(--color-white);
  color: var(--color-dark-1);
  font-family: $base-font-family;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 0;

  @include breakpoint(medium) {
    scroll-padding-top: rem(160px);
  }
}

body {
  height: 100%;
  overflow-x: hidden;

  // Show mobile menu.
  &.show-mobile-menu {
    overflow: hidden;

    @include breakpoint(large) {
      overflow: auto !important;
    }
  }

  // Success.
  &.page-success {
    background: var(--color-blue-1);
  }
}

// Selection.
::selection {
  // background-color: lighten(var(--color-green-1), 20%) !important;
  color: var(--color-black) !important;
}

// Focus.
// :focus {
//   outline: 2px solid var(--color-green-1);
//   outline-offset: 2px;
// }



:focus[data-focus-method='mouse'],
:focus[data-focus-method='touch'],
.focused[data-focus-method='mouse'],
.focused[data-focus-method='touch'] {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: none;
  --tw-ring-color: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: none;
  --tw-ring-color: none;
}

:focus[data-focus-method='key'],
.focused[data-focus-method='key'] {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: none;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
