---
layout: layout.html
title: Veterinary Equipment Repair and Support
---
<section class="c--hero section-row--first">
  <div class="container">
    <div class="c--hero__content grid__column">
      <h1 class="c--hero__title">{{ title }}</h1>
      <div class="prose">
        <p>We specialize in servicing, repairing, and maintaining veterinary anesthesia machines and associated accessories, including vaporizers, ventilators, and oxygen concentrators, across Oregon, Washington, and North Idaho.</p>
      </div>
      <div class="c--cta">
        <a href="/contact" class="button uppercase">Schedule an Appointment</a>
      </div>
    </div>
    <div class="c--hero__image grid__column">
      <img src="/images/cat-wave.webp" alt="Cat being held and waving" class="with-border-radius" />
    </div>
  </div>
</section>

<section class="c--feature section-row">
  <div class="container">
    <div class="c--feature__content">
      <div class="c--feature__item grid__column with-border-radius">
        <img src="/images/icons/veterinary.svg" alt="Veterinary pay icon" class="c--feature__icon" />
        <h2 class="c--feature__title">Licensed Veterinary Technicians</h2>
        <div class="prose">
          <p>We have comprehensive expertise in anesthesia machines and their accompanying accessories commonly encountered in veterinary medicine.</p>
        </div>
      </div>
      <div class="c--feature__item grid__column with-border-radius">
        <img src="/images/icons/transportation.svg" alt="Repair truck icon" class="c--feature__icon" />
        <h2 class="c--feature__title">Repair Equipment</h2>
        <div class="prose">
          <p>Our service technicians are equipped with repair parts in their vehicles, enabling us to promptly address emergencies and perform necessary repairs during machine service.</p>
        </div>
      </div>
      <div class="c--feature__item grid__column with-border-radius">
        <img src="/images/icons/travel.svg" alt="Location and travel icon" class="c--feature__icon" />
        <h2 class="c--feature__title">Maintenance and Support</h2>
        <div class="prose">
          <p>We provide maintenance for the typical veterinary anesthesia machines found in clinics, as well as select older human anesthesia machines occasionally utilized in veterinary settings.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c--services section-row">
  <div class="container">
    <div class="grid grid--2-column grid--50-50">
      <div class="grid__column grid__column-1">
        <img src="/images/medical-table.webp" alt="Medical table" />
      </div>
      <div class="grid__column grid__column-2">
        <h2 class="c--portfolio__title">Services</h2>
        <div class="prose">
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          <p>Natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
        </div>
        <div class="c--cta">
          <a href="/contact" class="button uppercase">See Equipment We Service</a>
        </div>
      </div>
    </div>
  </div>
</section>
